test_results/*.txt
test_results/

benchs_no_hard/
.vscode/

colab/
results_medium/
legacy/
easy_data_tensors/
__pycache__/

tensors/

results_easy/
dataset/
benchs_copy/
benchs_v/
benchs/ibex/
big_dataset/
test