test_results/*.txt
test_results/

benchs_no_hard/
.vscode/

colab/
results_medium/
legacy/
easy_data_tensors/
__pycache__/

tensors/

results_easy/
dataset/
benchs_copy/
benchs_v/
benchs/ibex/
big_dataset/
test
log.txt
dataset_50percentage/AXB.txt
dataset_50percentage/DS_P.txt
dataset_50percentage/intervals_change.txt
test.py
*.txt
*.out
modelos/Modelo_MC-1_6M.model
