test_results/*.txt
test_results/

benchs_no_hard/
.vscode/

colab/
results_medium/
legacy/
easy_data_tensors/
__pycache__/

tensors/

results_easy/
dataset/
benchs_copy/
benchs_v/3pk
benchs_v/3pk-borne
benchs_v/aircraftb
benchs_v/avgasa
benchs_v/avgasb
benchs_v/avion2
benchs_v/batch
benchs_v/brownal
benchs_v/catena
benchs_v/concon
benchs_v/core1
benchs_v/cresc4
benchs_v/dipigri
benchs_v/disc2
benchs_v/discs
benchs_v/dixchlng
benchs_v/dnieper
benchs_v/Doxyfile
benchs_v/dualc1
benchs_v/dualc2
benchs_v/dualc5
benchs_v/dualc8
benchs_v/eigencco
benchs_v/eigmaxc
benchs_v/eigminc
benchs_v/ex2_1_7
benchs_v/ex2_1_8
benchs_v/fccu
benchs_v/genhs28
benchs_v/haifas
benchs_v/haldmads
benchs_v/himmelbk
benchs_v/hs21mod
benchs_v/hs056
benchs_v/hs070
benchs_v/hs087
benchs_v/hs088
benchs_v/hs089
benchs_v/hs090
benchs_v/hs091
benchs_v/hs093
benchs_v/hs095
benchs_v/hs096
benchs_v/hs097
benchs_v/hs098
benchs_v/hs099
benchs_v/hs100
benchs_v/hs101
benchs_v/hs102
benchs_v/hs103
benchs_v/hs104
benchs_v/hs106
benchs_v/hs107
benchs_v/hs108
benchs_v/hs109
benchs_v/hs110
benchs_v/hs111
benchs_v/hs112
benchs_v/hs113
benchs_v/hs114
benchs_v/hs116
benchs_v/hs117
benchs_v/hs118
benchs_v/hs119
benchs_v/launch
benchs_v/loadbal
benchs_v/lotschd
benchs_v/makela3
benchs_v/makela4
benchs_v/matrix2
benchs_v/mconcon
benchs_v/mistake
benchs_v/model_opti
benchs_v/modele_opti
benchs_v/odfits
benchs_v/optcntrl
benchs_v/optmass
benchs_v/optprloc
benchs_v/orthregb
benchs_v/orthrege
benchs_v/pentagon
benchs_v/polak1
benchs_v/polak2
benchs_v/polak3
benchs_v/polak4
benchs_v/polak5
benchs_v/polak6
benchs_v/portfl1
benchs_v/rk23
benchs_v/robot
benchs_v/s365mod
benchs_v/ssnlbeam
benchs_v/synthes1
